.vscode/**
.vscode-test/**
src/**
!src/ui/replacePanel/replacePanel.html
!src/ui/replacePanel/replacePanel.css
!src/ui/replacePanel/replacePanel.js
.gitignore
.eslintrc.json
**/*.map
**/*.ts
!out/**
node_modules/**
